{% extends 'base.html' %}

{% block content %}
<br />
{% if searching %}
<h1 class="text-center">Searched: {{ searching }}</h1>

{% for event in events %}
<a href="{% url 'show_event' event.id %}">{{ event }} </a> - {{ event.date_event }}
{% empty %}
<br />
<br />
<h2 class="text-center">No results</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endfor %}

{% else %}
<div class="p-3 mx-auto text-center">
    <br />
    <br />

    <h1>You need to write something.</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endif %}
<br />
<br />
{% endblock %}